<!-- templates/transactions/transactions_home.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Transactions Module</title>
</head>
<body>
    <h2>Transactions Dashboard</h2>

    <ul>
        <li><a href="{% url 'add_manual_transaction' %}">📥 Add Manual Other Income/Expense Transaction</a></li>
        <li><a href="{% url 'view_transactions' %}">🧾 View All Transactions</a></li>
        <li><a href="{% url 'ledger_view' %}">🧮 Account Ledger</a></li>
        <li><a href="{% url 'set_opening_balances' %}">💰 Opening Balances</a></li>

    </ul>

    <a href="{% url 'home' %}">← Back to Home</a>
</body>
</html>
