<a href="{% url 'home'%}"><button>Home</button></a>
<a href="{% url 'admission_home'%}"><button>Back</button></a>
<h2>Assign Class & Year to {{ student.full_name }}</h2>

{% if existing_record %}
    <p><strong>Latest Record:</strong> {{ existing_record.academic_year.name }} - {{ existing_record.class_enrolled.name }}</p>
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Assign</button>
</form>

<a href="{% url 'student_list' %}">← Back to Student List</a>
