<!DOCTYPE html>
<html>
<head>
    <title>Fees Module Home</title>
</head>
<body>
    <h2>Fees Module</h2>

    <ul>
        <li><a href="{% url 'add_fee_type' %}">➕ Add Fee Type</a></li>
        <li><a href="{% url 'fee_type_list' %}">📋 View Fee Types</a></li>
        <!-- Add these when implemented -->
        <li><a href="{% url 'assign_fee_plan_bulk' %}">📌 Assign Student Fee Plans</a></li>
        <li><a href="{% url 'assign_fees_bulk' %}">📅 Post Monthly Fees</a></li>
        <li><a href="{% url 'view_remaining_due_detail' %}">🧾 View Remaining Due Details (by Month & Class)</a></li>
        <li><a href="{% url 'view_posted_fees_by_student'%}">🧾 View Posted Fee Details (by Student)</a></li>
        <li><a href="{% url 'fee_collection_filter' %}">💰 Collect Fee Payment</a></li>
        {% comment %} <li><a href="#">📑 View Student Fee Ledger</a></li> {% endcomment %}
    </ul>

    <a href="{% url 'home' %}">⬅ Back to Home</a>
</body>
</html>
