{% load get_dict %}
<a href="{% url 'home'%}"><button>Home</button></a>
<a href="{% url 'fees_home'%}"><button>Back</button></a>
<h2>Remaining Dues of Students by month and class (Read-only)</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Show Remaining Due</button>
</form>

{% if students %}
<table border="1" style="margin-top: 20px;">
    <thead>
        <tr>
            <th>Student Name</th>
            {% for fee_type in fee_types %}
                <th>{{ fee_type.name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td>{{ student.student.full_name }}</td>
            {% for fee_type in fee_types %}
                <td>
                    {{ student.student.due_map|get_item:fee_type.id|default:"-" }}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<a href="{% url 'fees_home' %}">⬅ Back to Fees Home</a>
